/* Elementor container settings
----------------------------------------- */
body[class*="cpt_sections-template"] { background-image: url(../images/transparent.png); background-repeat: repeat; }

/* Link to Edit section in the new tab
------------------------------------------ */
.mk_section_editor_mask {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.mk_section_editor_mask:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.mk_section_editor_mask:hover {
  opacity: 1;
}
.mk_section_editor_mask:hover .mk_section_editor_selector {
  opacity: 1;
}
.mk_section_editor_mask .mk_section_editor_selector {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_link,
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_trigger {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 15px;
  font-weight: 500;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 15px;
  background-color:var(--e-a-btn-bg-primary);
  color:var(--e-a-btn-color);
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -ms-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_link:hover,
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_trigger:hover {
  background-color:var(--e-a-btn-bg-primary-hover);
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_link {
  padding: 1em 2em;
  -webkit-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_trigger {
  padding: 1em;
  -webkit-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_trigger:before {
  content: '\e857';
  font-family: "mk_icons";
}
.mk_section_editor_mask .mk_section_editor_selector.mk_section_editor_selector_opened .mk_section_editor_selector_trigger:before {
  content: '\e85a';
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 2.8em;
  left: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-height: 14.3em;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f8f9;
  color: #555d66;
  -webkit-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_list .mk_section_editor_selector_list_item {
  display: block;
  padding: 0.3em 1em;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -ms-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.mk_section_editor_mask .mk_section_editor_selector .mk_section_editor_selector_list .mk_section_editor_selector_list_item:hover {
  background-color: #eaeaea;
  color: #23282d;
}

.mk_section_editor_selector a { text-decoration:none; }